@tailwind base;
@tailwind components;

.tick.on { animation: .33s tick; }

@keyframes tick {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@tailwind utilities;

@variants responsive {
}